.quizz__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 80%;
  margin: 20px;
}

.quizz_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  img {
    height: 70px;
  }

  h3 {
    margin-top: 20px;
  }
}

.quizz_questions {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #1d8796;
  width: 100%;
  padding: 40px 20px;

  h3 {
    color: #ffffff;
    font-size: 50px;
  }
}

.quizz_options {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.btn-option {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid gray;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  color: #222222;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
}

.btn-option:hover {
  background-color: #5cbf2a;
  color: #ffffff;
}

.btn-option:active {
  position: relative;
  top: 1px;
}

.quizz_results {
  display: flex;
  gap: 50px;
  width: 100%;
  background-color: #644ed2;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: #ffffff;
  }
  p {
    font-size: 30px;
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .quizz__container {
    gap: 20px;
  }
  .quizz_logo {
    img {
      height: 3em;
    }
  }
  .quizz_questions {
    h3 {
      font-size: 1.5em;
    }
  }

  .quizz_options {
    width: 100%;
  }

  .quizz_results {
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 30px;
    }
  }
}
